.main-Profile-Con {
    display: flex;
    flex-direction: column;
}

.form-Profile {
    display: flex;
    flex-direction: row;
    /* width: 80%; */
    /* margin: auto; */
}

.grid-Profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 10px;
}

.Header-Profile {
    font-size: 35px;
    font-family: 'Permanent_Marker';
    font-style: italic;
    font-weight: bold;
    color: blue;
    margin: 30px;

    /* border-bottom: 2px solid blue; */
    /* width: fit-content; */


}

.img-Profile {

    flex: 1;
    /* position: relative;
    width: 200px; */

}

.data-Profile {
    flex: 4;
    /* background-color: black; */
}

.space {
    flex: 1;
}