.Buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.btn {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #6f85ff;
    padding: 10px 30px;
    border-radius: 90px;
    font-family: 'Inter';
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 4px 0px rgb(124, 124, 124);
}

.btn:hover {

    background-color: #0026ff;
    outline: 1px solid #0026ff;
    font-weight: bold;

}