@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Ubuntu&family=Unlock&display=swap');

.about-container
{
    margin: 2rem 5rem 3rem 5rem;
}
.about-us
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about-txt
{
    width:65%;

}
.about-txt h1
{
    text-align: start;
    color: #EB7634;
    font-family: 'Ubuntu',sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 32.211px; /* 161.053% */
    letter-spacing: -1.1px;
}
.about-txt p
{
    text-align: start;
    color:#1B2A47;
    font-family: 'Rubik',sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 550;
    width: 100%;
}
.about-container img
{
    width:30%
}

.how-to-container h1
{
    text-align: start;
    color: #EB7634;
    font-family: 'Ubuntu',sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 32.211px; /* 161.053% */
    letter-spacing: -1.1px;
    margin-left: 22px;
}
.how-to-container span
{
    color: #5566FB;
    font-size: 37px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: Unlock;
    margin-right: 50px;
    margin-left: 10px;
}
.how-to
{
    margin:60px 30px 50px 30px;
    display: flex;
    flex-direction: row;
}
.arrow
{
    width:120px;
    height: 120px;
}
.arrow img
{
    align-content: center;
    margin: auto;
    text-align: center;
    display: block;
    width:100px;
    height: 100px;

}
.how-item
{
    width: 100px;

}
.how-item h2
{
    color: #1B2A47;
    font-family: 'Rubik',sans-serif;
    font-size: 20px;
    font-style: bolder;
    font-weight: 800;
   /* width: 100%;*/

}
.how-item img
{
    width: 100px;
    height:100px ;

}