input {
    background-color: #ffffff;
    /* border: 1px solid gray; */
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px 10px;
    text-decoration: none;
    border: none;
    font-size: 18px;
    /* color: gray; */
    font-family: 'Ubuntu', sans-serif;
    width: 300px;
}
.personalmain
{
    width: 500px;
}

input:focus {
    border: none;
    outline: none;

}

::placeholder {
    color: rgb(35, 35, 35);
    font-size: 16px;
    opacity: 0.3;

}

label {
    display: block;
    padding-left: 20px;
    text-align: start;
    /* float: left; */
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #ff6b01;
    font-family: 'Montserrat';

}

.Personalheader {
    font-size: 27px;
    font-weight: bold;
    font-family: 'Lobster';
    color: #ff6b01;
    width: 100%;
}

.caontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.square {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    /* grid-row: 1fr 1fr 1fr; */
    grid-gap: 5px 10px;
    width: 700px;

}

.table {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    flex: 5;
}

.personalmain {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    /* justify-content: space-around; */

}

.link {

    /* margin: 30px; */
    /* margin-bottom: px; */
    display: flex;
    flex-direction: row;
    /* background-color: white; */
    /* text-align:   center; */
    position: relative;
    /* height: 70px; */
    /* justify-content: center; */


}

.add {
    margin-right: 10px;

    /* flex: 1; */
    margin: auto;
    font-size: 35px;
    font-weight: bolder;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    border-radius: 30px;
    background-color: #6f85ff;
    padding: 3px 15px;
    /* height: 50px;
    width: 50px; */
    text-align: center;
    left: 570px;
    top: 4px;
    box-shadow: 0px 3px 3px 0px rgb(127, 127, 127);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
    /* position: absolute;
    left: 500px; */
    margin-bottom: 20px;
}

.add:hover {
    background-color: #0228ff;
}

.link h3 {
    position: absolute;
    font-size: 30px;
    color: #ef6807;
    left: 10px;
    top: -18px;
    font-family: 'Lobster';
}





.outlink {
    margin: 15px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px 0px rgb(97, 97, 97);
    min-height: 55px;

}

.newlink {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.newlink input {
    text-align: left;
}

.inputnewlink {
    background-color: #f7eada;
    /* border: 1px solid gray; */
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px 10px;
    text-decoration: none;
    border: none;
    font-size: 18px;
    /* color: gray; */
    font-family: 'Ubuntu', sans-serif;
    width: 300px;
    text-align: left;


}

.cancel {
    padding: 12px;
    /* margin: auto; */
    border-radius: 30px;
    background-color: rgb(255, 105, 105);
    /* box-shadow: 0px 2px 2px 2px rgb(146, 146, 146); */
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
    color: aliceblue;
    /* text-align: left; */
    /* text-align: start; */
}

.cancel:hover {
    background-color: red;


}

.save {
    padding: 12px;
    margin-left: 20px;
    /* margin: auto; */
    border-radius: 30px;
    background-color: #6f85ff;
    box-shadow: 0px 2px 2px 2px rgb(124, 124, 124);
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
    color: aliceblue;
    text-align: left;
}

.save:hover {
    background-color: #3907ef;
    /* color: #3907ef;
    outline: 1px solid #3907ef; */
}