.deletecert {
    display: inline-block;
    width: 40px;
    /* padding: 15px 15px; */
    /* margin: auto; */
    height: 40px;
    margin-top: 13px;
    margin-left: 5px;
    font-size: 20px;
    border-style: none;
    border-radius: 20px;
    color: red;
    background-color: rgb(255, 239, 239);
    cursor: pointer;
    margin: 10px;
    position: absolute;
    top: 10px;
    left: 800px
}

.certhead {
    margin: 40px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat';
    color: rgb(0, 55, 205);
}

.certlink {
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
    color: rgb(205, 109, 0);
}